<div class="blog-post-comments">
  <noscript>Please enable JavaScript to view the comments or <a href="https://github.com/<%= theme.plugins.github_comments %>/issues/<%= page.gh_issue %>">find them on Github</a></noscript>
  <div id="github-comments">
    Loading comments... 
  </div>
</div>