#readingprogress
  width: 100%
  background: $color-background
  position: sticky
  line-height: 0
  top: 0
  border-bottom: 8px solid $color-background
  margin-top: -20px
  margin-bottom: -35px
  z-index 1

  progress
    background: $color-background
    border: none
    appearance: none
    position: sticky
    top: 0
    height: 2px
    width: 100%
    color: $color-accent
  
  progress::-moz-progress-bar
    background-color: $color-accent

  progress::-webkit-progress-bar
    background-color: $color-accent
