#downloadpage
  ul
    max-width: 30rem
    margin: auto
    list-style: none

    li
      margin-bottom: 5px
      &:before
        font-family: 'FontAwesome'
        margin: 0 7px 0 -15px
        color: $color-accent
        content: '\f019'
