#downloadpage
  ul
    max-width: 20rem
    margin: auto
    padding-left: 20px
    list-style: none

    li
      margin-bottom: 5px
      &:before
        font-family: 'FontAwesome'
        margin: 0 5px 0 -15px
        color: $color-accent
        content: '\f56d';
